<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
      <add key="Major" value="2" />
      <add key="Minor" value="41" />
      <add key="Release" value="1" />
      <add key="Revision" value="120301" />
      <add key="Patch" value="3" />
      <add key="BuildType" value="0" />
      <add key="Install" value="1" />
      <add key="Technology" value="1" />
      <add key="Lang" value="pt" />
      <add key="ServerID" value="0" />
      <add key="AutoConnect" value="true" />
      <add key="UseCertificate" value="false" />
      <add key="UseLoginToken" value="false" />
      <add key="SessionOptionalSalt" value="0" />
      <add key="Ip1" value="213.248.126.40"/>
      <add key="Port1" value="5555"/>
    </appSettings>
</configuration>
